<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target xsi:type="File" name="fileLog" fileName="${basedir}/Logs/log.log"/>
    <target xsi:type="File" name="errorLog" fileName="${basedir}/Logs/errors.log"/>
    <target xsi:type="Trace" name="traceLog"/>
  </targets>

  <rules>
    <logger minlevel="Info" writeTo="fileLog"/>
    <logger minlevel="Trace" writeTo="traceLog"/>
    <logger level="Error" writeTo="errorLog"/>
  </rules>
</nlog>
